body {
    font-family: Arial, sans-serif;
    display: flex;    
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  .container1 {
    width: 600px;
    height: 200px;
    background-color: white;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
  }
  h2 {
    margin-bottom: 20px;
  }
  input {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 15px;
  }
  #botao {
    padding: 10px 15px;
    background-color: #2ecc71;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
  }
  #resultado {
    margin-top: 20px;
    font-size: 18px;
  }